doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      block header
        header.header
          h1 #{title}
      block content
    script(src='/javascripts/googlecal.js')
    script(async, defer, src='https://apis.google.com/js/api.js' onload='this.onload=function(){};handleClientLoad()' onreadystatechange='if (this.readyState === "complete") this.onload()')